<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <script>document.write(new Date().getFullYear())</script> © Conociendo Amistades.
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end d-none d-sm-block">
                    Desarrollado por
                    <a href="https://www.raevsii.cl" target="_blank" rel="noopener noreferrer">
                        RAEV Soluciones Informática SPA
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>