
<meta charset="utf-8" />
<title>@ViewBag.title | Conociendo Amistades - Tu red social</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="Conociendo Amistades - Tu red social" name="description" />
<meta name="author" content="RAEV Soluciones Informática SPA" />
<!-- App favicon -->
<link rel="shortcut icon" href="~/assets/images/favicon.ico">